*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #777;
}

[theme-mode='dark'] *::-webkit-scrollbar-track {
  background: rgb(16, 16, 16);
}

[theme-mode='dark'] *::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
}

[theme-mode='dark'] *::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 25, 25);
}
