*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

*:hover::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #ddd;
}

*::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb:hover {
  background: #777;
}

[theme-mode='dark'] *:hover::-webkit-scrollbar-track {
  background: rgb(16, 16, 16);
}

[theme-mode='dark'] *:hover::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
}

[theme-mode='dark'] *:hover::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 25, 25);
}
